<main>
  <h2>Your Cart</h2>
  <% if @orderitems %>
    <ul>
    <% @orderitems.each do |item| %>
      <li>Product: <%= item.name %></li>
      <li>Quantity: <%= item.quantity %></li>
      <li>Price: <%= item.price %></li>
      <li>Subtotal: <%= item.price * item.quantity %></li>
    <% end %>
    </ul>
    <% else %>
      <p>There's nothing in your cart. Start browsing! <%= link_to "Browse Products", root_path %></p>
  <% end %>
</main>
