<main>
  <h2>your cart</h2>
  <% if @cart && @cart.orderitems.length > 0 %>
    <table class="table">
      <thead>
        <tr>
          <th>product</th>
          <th>price</th>
          <th>quantity</th>
          <th>subtotal</th>
          <th>remove product</th>
        </tr>
      </thead>
      <tbody>
      <% @cart.orderitems.each do |item| %>
          <td><%= link_to item.product.name, product_path(item.product.id)%></td>
          <td><%= number_to_currency(item.product.price) %></td>
          <td>
            <%= form_with(url: orderitem_path(item.id), method: "patch", class: "form-inline")  do |f| %>

              <div class="form-group">
                <%= f.text_field :quantity, :value => item.quantity %>
              </div>

              <%= f.submit "Update", class: "btn btn-primary" %>
            <% end %>
          </td>
        <td><%= number_to_currency(item.product.price * item.quantity) %></td>
        <td>
            <%= form_with(url: orderitem_path(item.id), method: "delete") do |f| %>

              <%= f.submit "Remove", class: "btn btn-primary" %>
            <% end %>
          </td>
        </tbody>
      <% end %>
    </table>

      <strong>total: <%= number_to_currency(@cart.total) %></strong>

    <hr>
      <h3>complete purchase:</h3>
      <%= form_with(url: cart_path, method: "patch", model: @cart) do |f| %>
        <div class="form-group">
          <%= f.label :name, "name" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email, "email" %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :address, "address" %>
          <%= f.text_area :address, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :credit_card_number, "credit card number" %>
          <%= f.text_field :credit_card_number, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :cvv, "cvv" %>
          <%= f.text_field :cvv, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :expiration_date, "expiration date" %>
          <%= f.text_field :expiration_date, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :zip_code, "zip code" %>
          <%= f.text_field :zip_code, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "checkout order", class: "btn btn-primary" %>
        </div>
    <% end %>
    <% else %>
      <p>there's nothing in your cart. <%= link_to "start browsing!", root_path %></p>
  <% end %>
  <hr>
</main>
