<main>
  <h2>Your Cart</h2>
  <% if @cart && @cart.orderitems.length > 0 %>
    <ol>
    <% @cart.orderitems.each do |item| %>
      <li>Product: <%= item.product.name %></li>
      <ul>
        <li>Quantity: <%= item.quantity %></li>
        <li>Price: <%= number_to_currency(item.product.price) %></li>
        <li>Subtotal: <%= number_to_currency(item.product.price * item.quantity) %></li>
        <li>
          <%= form_with(url: orderitem_path(item.id), method: "patch") do |f| %>

            <%= hidden_field_tag "orderitem_id", item.id %>

            <%= f.label :quantity %>
            <%= f.text_field :quantity %>


            <%= f.submit "Update", class: "btn btn-primary" %>
          <% end %>
        </li>
        <li>
          <%= form_with(url: orderitem_path(item.id), method: "delete") do |f| %>

            <%= f.submit "Remove", class: "btn btn-primary" %>
          <% end %>
        </li>
      </ul>
    <% end %>
      Total: <%= number_to_currency(@cart.total) %>
      <h3>Complete Purchase:</h3>
      <%= form_with(url: cart_path, method: "patch", model: @cart) do |f| %>
        <% if @cart.errors.any? %>
          <ul class="errors">
            <% @cart.errors.each do |column, message| %>
              <li>
                <strong><%= column.capitalize %></strong> <%= message %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :address %>
          <%= f.text_field :address, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :credit_card_number, "Credit Card Number" %>
          <%= f.text_area :credit_card_number, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :cvv, "CVV" %>
          <%= f.text_area :cvv, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :expiration_date, "Expiration Date" %>
          <%= f.text_area :expiration_date, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :zip_code, "Zip Code" %>
          <%= f.text_area :zip_code, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Checkout Order", class: "btn btn-primary" %>
        </div>
    <% end %>
    </ol>
    <% else %>
      <p>There's nothing in your cart. <%= link_to "Start Browsing!", root_path %></p>
  <% end %>
  <hr>
</main>
