<!--Merchants/Authenticated -->
<!--View an individual order to see the user's:-->
<!--Name-->
<!--Email address-->
<!--Mailing address-->
<!--Last four digits of their credit card-->
<!--Credit card expiration date-->

<main>
  <h2>Order #<%= @order.id %></h2>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mailing Address</th>
      <th>Zip Code</th>
      <th>Last 4 Digits of CC</th>
      <th>Credit Card Expiration Date</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @order.name %></td>
        <td><%= @order.email %></td>
        <td><%= @order.address %></td>
        <td><%= @order.zip_code %></td>
        <td><%= @order.credit_card_number[-4..-1] %></td>
        <td><%= @order.expiration_date %></td>
      </tr>
    </tbody>
  </table>
</main>