<!--Guest Users/Unauthenticated -->
<!--After purchasing an order, I can view a confirmation screen including:-->
<!--Each item in the order with a quantity and line-item subtotal-->
<!--A link to the item description page-->
<!--Order total price-->
<!--Date/time the order was placed-->
<!--The current status of the order-->

<!--<section>-->
<!--  <h2>Order #<%#= @order.id %></h2>-->
    <%# @order.orderitems.each do |orderitem| %>
      <%# if orderitem %>
<!--        <ul>-->
<!--          <li><%#= link_to "#{orderitem.product.name}", orderitem.product.description %></li>-->
<!--          <li><%#= orderitem.quantity %></li>-->
<!--          <li><%#= number_to_currency(orderitem.product.price * orderitem.quantity) %></li>-->
<!--        </ul>-->
      <%# end %>
  <%# end %>
<!--  <ul>-->
<!--    <li>Order Total: <%#= number_to_currency(@order.total) %></li>-->
<!--    <li>Order Status: <%#= @order.status %></li>-->
<!--    <li>Order Date: <%#= @order.updated_at %></li>-->
<!--    <li><button><%#= link_to "Cancel Order", order_path(@order.id), method: :delete, data: {confirm: "Are you sure?"} %></button></li>-->
<!--  </ul>-->

  <table class="table">
    <thead>
    <h2>Order #<%= @order.id %></h2>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <% @order.orderitems.each do |orderitem| %>
      <tr>
        <td><%= link_to "#{orderitem.product.name}", orderitem.product.description %></td>
        <td><%= orderitem.quantity %></td>
        <td><%= number_to_currency(orderitem.product.price * orderitem.quantity) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <ul>
    <li>Order Total: <%= number_to_currency(@order.total) %></li>
    <li>Order Status: <%= @order.status %></li>
    <li>Order Date: <%= @order.updated_at %></li>
  </ul>
  <button><%= link_to "Cancel Order", order_path(@order.id), method: :delete, data: {confirm: "Are you sure?"} %></button>
</section>

