<!--Guest Users/Unauthenticated -->
<!--After purchasing an order, I can view a confirmation screen including:-->
<!--Each item in the order with a quantity and line-item subtotal-->
<!--A link to the item description page-->
<!--Order total price-->
<!--Date/time the order was placed-->
<!--The current status of the order-->

<section>
  <h3>order #<%= @order.id %></h3>
  <table class="table">
    <thead>
    <tr>
      <th>product</th>
      <th>quantity</th>
      <th>subtotal</th>
    </tr>
    </thead>
    <tbody>
    <% @order.orderitems.each do |orderitem| %>
      <tr>
        <td><%= link_to "#{orderitem.product.name}", orderitem.product.description %></td>
        <td><%= orderitem.quantity %></td>
        <td><%= number_to_currency(orderitem.product.price * orderitem.quantity) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <ul>
    <li>order total: <%= number_to_currency(@order.total) %></li>
    <li>order status: <%= @order.status %></li>
    <li>order date: <%= @order.updated_at.strftime("%B %d, %Y").downcase %></li>
  </ul>

<% if @order.can_cancel? %>
  <button><%= link_to "cancel order", order_path(@order.id), method: :delete, data: {confirm: "are you sure?"} %></button>
<% end %>

</section>

