<% @products.each do |product| %>
  <section class="container">
  <% if product.stock >= 0  %>
    <!-- for product image -->
    <% begin %>
      <%= link_to image_tag("#{product.photo_url}"), product_path(product.id), method: :get%>
    <% rescue %>
      <%= link_to image_tag("defaultimage.jpg"), product_path(product.id), method: :get%>
    <% end %>
    <%= link_to content_tag(:h3, "#{product.name}"), product_path(product.id), method: :get %>
    <span><%="$%.2f" % product.price%></span>

    <p>in stock:
      <!-- check if out of stock -->
      <% if product.stock <= 0 %>
        SOLD OUT!
      <% else %>
        <%= product.stock %>
        <%= form_for Orderitem.new do |f| %>

          <%= hidden_field_tag "product_id", product.id %>

          <label>quantity</label>
          <%= f.text_field :quantity %>


          <%= f.submit "add to cart", class: "btn btn-primary" %>
        <% end %>
      <% end %></p>
    <% if !session[:user_id].nil? && session[:user_id] == product.merchant_id %>
      <%= link_to content_tag(:p, "edit #{product.name}"), edit_product_path(product.id), method: :get %>
    <% end %>

  <%end %>
  </section>
<% end %>