<main>

  <h1> welcome, <%=@current_merchant.username %></h1>

  <nav>
    <%= link_to content_tag(:li, "edit your info"), edit_merchant_path(@current_merchant.id), method: :get %>
    <%= link_to content_tag(:li, "look at your store"), merchant_path(@current_merchant.id), method: :get %>
    <%= link_to content_tag(:li, "add a product"), new_merchant_product_path(merchant_id:@current_merchant.id), method: :get %>
    <%= link_to content_tag(:li, "add a category"), new_category_path, method: :get %>
  </nav>
  <h2>my stats</h2>
  <table class="table">
    <tr>
      <% ['total', 'pending', 'paid', 'complete', 'cancelled'].each do |status| %>
        <th><%= status %></th>
      <% end %>
    </tr>
    <tr>
      <% ['total', 'pending', 'paid', 'complete', 'cancelled'].each do |status| %>
        <td>
          <table class="table">
            <tr>
              <th># orders</th>
              <th> total revenue</th>
            </tr>
            <tr>
              <td><%= status == 'total' ? @current_merchant.get_orders().size : @current_merchant.get_orders(status: status).size %></td>
              <td><%= sprintf( "$%.2f", (status == 'total' ? @current_merchant.total_revenue() : @current_merchant.total_revenue(status: status))) %></td>
            </tr>
          </table>
        </td>
      <% end %>
    </tr>

  </table>
  <h2> my order fulfillments</h2>
  <!-- some table here using the all orders method, link to ind. order as well -->
  <!-- once shopping cart is working, used to test filter table prior to creating table-->
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      filter by status
      <span class="caret"></span></button>
    <ul class ="dropdown-menu">
      <%= link_to content_tag(:li, "none") , sort: nil %>
      <%= link_to content_tag(:li, "pending") , sort: "pending" %>
      <%= link_to content_tag(:li, "paid") , sort: "paid" %>
      <%= link_to content_tag(:li, "complete") , sort: "complete" %>
      <%= link_to content_tag(:li, "cancelled") , sort: "cancelled" %>
    </ul>
  </div>
  <table class="table">
      <tr>
        <th>order #</th>
        <th>order date</th>
        <th>order status</th>
        <th>shipped</th>
      </tr>
    <% @orders.each do |order, items| %>
      <td><%= link_to "#{order.id}", merchant_show_path(order.id) %></td>
        <td><%= order.created_at.strftime("%B %d, %Y") %></td>
      <td><%= order.status %></td>
        <table>
        <% items.each do |item| %>
          <td><%= link_to "#{item.product.name}", product_path(item.product.id), method: :get %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(item.quantity * item.product.price) %></td>
          <% if !item.shipped? %>
            <%= link_to "Mark Shipped", mark_shipped_path(item.id), method: :patch %>
          <% else %>
            <span>shipped</span>
          <% end%>
    <% end %>
        </table>
    <% end %>
  </table>
  <h2> my products</h2>
  <table class="table">
    <thead>
    <tr>
      <th width=80>product name</th>
      <th>price</th>
      <th>in stock</th>
      <th width=100>description</th>
      <th width=100>view</th>
      <th width=100>edit</th>
      <th width=100>delete</th>
      <!-- <th width=100>retire/un-retire</th> -->
    </tr>
    </thead>
    <tbody>
    <% @current_merchant.products.each do |product| %>
      <tr>
        <td>
          <% begin %>
            <%= link_to image_tag("#{product.photo_url}"), product_path(product.id), method: :get%>
          <% rescue %>
            <%= link_to image_tag("defaultimage.jpg"), product_path(product.id), method: :get%>
          <% end %>
          <%= product.name %>
        </td>
        <td><%= "$%.2f" % product.price %></td>
        <td>
          <% if product.stock >= 0  %>
            <%= product.stock %>
          <% else %>
            RETIRED
          <% end %>
        </td>
        <td><%= product.description %></td>
        <td><%= link_to "view", product_path(product.id), method: :get, class: "btn btn-primary"%></td>
        <td><%= link_to "edit", edit_product_path(product.id), method: :get, class: "btn btn-primary"%></td>
        <td><%= link_to "delete", product_path(product.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary"%></td>
        <!-- link_to retire/unretire -->
      </tr>
    <% end %>
    </tbody>
  </table>
</main>

