<main>

  <h2> welcome, <%=@current_merchant.username %>
  <small class="text-muted"> joined <%=@current_merchant.created_at.strftime("%B %d, %Y").downcase %> </small>
  </h2>

  <section class="merch-dash-nav">
    <%= button_to  "edit your info", edit_merchant_path(@current_merchant.id), method: :get, class: "btn btn-success", form: {style: 'display:inline-block;'} %>
    <%= button_to "look at your store", merchant_path(@current_merchant.id), method: :get, class: "btn btn-success", form: {style: 'display:inline-block;'} %>
    <%= button_to  "add a product", new_merchant_product_path(merchant_id:@current_merchant.id), method: :get, class: "btn btn-success", form: {style: 'display:inline-block;'} %>
    <%= button_to "add a category", new_category_path, method: :get, class: "btn btn-success", form: {style: 'display:inline-block;'} %>
  </section>

  <h3>my stats</h3>
  <table class="table">
    <tr>
      <% ['total', 'pending', 'paid', 'complete', 'cancelled'].each do |status| %>
        <th><%= status %></th>
      <% end %>
    </tr>
    <tr>
      <% ['total', 'pending', 'paid', 'complete', 'cancelled'].each do |status| %>
        <td>
          <table class="table">
            <tr>
              <th># orders</th>
              <th> total revenue</th>
            </tr>
            <tr>
              <td><%= status == 'total' ? @current_merchant.get_orders().size : @current_merchant.get_orders(status: status).size %></td>
              <td><%= sprintf( "$%.2f", (status == 'total' ? @current_merchant.total_revenue() : @current_merchant.total_revenue(status: status))) %></td>
            </tr>
          </table>
        </td>
      <% end %>
    </tr>

  </table>
  <h3> my order fulfillments</h3>
  <!-- some table here using the all orders method, link to ind. order as well -->
  <!-- once shopping cart is working, used to test filter table prior to creating table-->
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      filter by status
      <span class="caret"></span></button>
    <ul class ="dropdown-menu">
      <%= link_to content_tag(:li, "none") , sort: nil %>
      <%= link_to content_tag(:li, "pending") , sort: "pending" %>
      <%= link_to content_tag(:li, "paid") , sort: "paid" %>
      <%= link_to content_tag(:li, "complete") , sort: "complete" %>
      <%= link_to content_tag(:li, "cancelled") , sort: "cancelled" %>
    </ul>
  </div>

    <% @orders.each do |order, items| %>
    <table class="table">
      <tr>
        <th colspan="4"><h4>order <%= link_to "##{order.id}", merchant_show_path(order.id) %>: <em><%= order.status %></em></h4>
        <h5><%= order.created_at.strftime("%B %d, %Y").downcase %></h5>
         </th>
      </tr>

        <table class="table">
          <tr>
            <th>item</th>
            <th>quantity</th>
            <th>subtotal</th>
            <th>status</th>
          </tr>
            <% items.each do |item| %>
            <tr>
              <td><%= link_to "#{item.product.name}", product_path(item.product.id), method: :get %></td>
              <td><%= item.quantity %></td>
              <td><%= number_to_currency(item.quantity * item.product.price) %></td>
              <% if !item.shipped? %>
                <td><%= link_to "mark shipped", mark_shipped_path(item.id), method: :patch %></td>
              <% else %>
                <td>shipped</td>
              <% end%>
            </tr>
            <% end %>
            </table>
      </table>
    <% end %>

  <section class="merch-dash-products">
  <h3> my products</h3>
  <table class="table">
    <thead>
    <tr>
      <th width=80>product name</th>
      <th>price</th>
      <th>in stock</th>
      <th width=200>description</th>
      <th width=100>view</th>
      <th width=100>edit</th>
      <th width=100>delete</th>
      <!-- <th width=100>retire/un-retire</th> -->
    </tr>
    </thead>
    <tbody>
    <% @current_merchant.products.each do |product| %>
      <tr>
        <td>
          <% begin %>
            <%= link_to image_tag("#{product.photo_url}", class: "img-thumbnail"), product_path(product.id), method: :get%>
          <% rescue %>
            <%= link_to image_tag("https://lh3.googleusercontent.com/9mfAl9ExpjGohJLHTEeX4ArkHqt3RfEgEY59SbF7k2r7eavXbtjLiV8GvAcGK4unaX8QLghYJMGupuYm4_t7spq4k2IwEItlHT8hSobL_PByQL81W8Ni4dLy7Am42vmU3XT3LajEMg=w2400", class: "img-thumbnail"), product_path(product.id), method: :get %>
          <% end %>
          <%= product.name %>
        </td>
        <td><%= "$%.2f" % product.price %></td>
        <td>
          <% if product.stock >= 0  %>
            <%= product.stock %>
          <% else %>
            RETIRED
          <% end %>
        </td>
        <td><%= product.description %></td>
        <td><%= link_to "view", product_path(product.id), method: :get, class: "btn btn-primary"%></td>
        <td><%= link_to "edit", edit_product_path(product.id), method: :get, class: "btn btn-primary"%></td>
        <td><%= link_to "delete", product_path(product.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary"%></td>
        <!-- link_to retire/unretire -->
      </tr>
    <% end %>
    </tbody>
  </table>
  </section>
</main>

