<main>

  <h2>Edit Merchant Info</h2>

  <%= form_with model: @current_merchant, class: 'create-merchant', url: merchant_path(@current_merchant.id) do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>

    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>

    <%= f.submit "Save Changes", class:"btn btn-primary"%>
  <% end %>

</main>

