<main>
  <h2> <%=@merchant.username %>
    <small class="text-muted">joined <%= @merchant.created_at.strftime("%B %d, %Y").downcase %></small>
  </h2>
  <%if !session[:user_id].nil? && session[:user_id] == @merchant.id %>
    <%= button_to "edit your info", edit_merchant_path(@merchant.id), method: :get , class: "btn btn-success"%>
  <% end %>
  <h3>products</h3>
    <% if @products.empty? %>
    <p>this merchant doesn't have any products yet. please check again later.</p>
      <% if !session[:user_id].nil? && session[:user_id] == @merchant.id %>
        <%= link_to "that's me! i have something to sell now!", new_merchant_product_path(merchant_id: @merchant.id), method: :get %>
      <% end %>
    <% end %>
  <%= render partial: "products", locals: {products: @products} %>
</main>