<%#= form_with(model: @product), url: merchant_products_path do |f| %>
<%#= form_with(model: @product, url: merchant_products_path(@current_merchant), method: "post") do |f| %>
<!--  NEW SHOULD LOOK LIKE THIS: <%#= form_with(model: @product, url: merchant_product_path(@product.merchant, @product.id), method: "patch") do |f| %>-->
<!--HOW TO GET FORM_WItH TO WORK per discussion with Ansel-->

<h2>add product</h2>
<% if @product.errors.any? %>
  <ul class="errors">
    <% @product.errors.each do |column, message| %>
      <li>
        <p><%= column.capitalize %> <%= message %></p>
      </li>
    <% end %>
  </ul>
<% end %>


<%= form_for @product, url: merchant_products_path do |f| %>

  <div class="form-group">
    <%=f.label :name, "name" %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%=f.label :description, "description" %>
    <%= f.text_field :description %>
  </div>

  <div class="form-group">
    <%=f.label :price, "price" %>
    <%= f.text_field :price %>
  </div>

  <div class="form-group">
    <%=f.label :photo_url, "photo url" %>
    <%= f.text_field :photo_url %>
  </div>

  <div class="form-group">
    <%=f.label :stock, "stock" %>
    <%= f.text_field :stock %>
  </div>

  <div class="form-check">
    <% Category.all.each do |cat| %>
      <label><%= cat.name %></label>
      <%= check_box_tag "product[category_ids][]", cat.id, @product.category_ids.include?(cat.id) %>
      <br>
    <% end %>
  </div>

<!--  <div class="form-check">-->
    <%#=f.label :categories, "categories" %>
      <%#= collection_check_boxes(:product, :category_ids, Category.all, :id, :name) do |b|  %>
        <%#= b.label class:"label-checkbox" do%>
          <%#=b.check_box%>   <%#= b.text%>
        <%#end%>
      <%# end %>
<!--    </div>-->
<!--  </div>-->

  <%= f.submit 'Create Product', class: "btn btn-primary" %>
<% end %>
