<!-- explicitly to test categories -->
<!-- will work once products controllers can create from current_merchant-->

<%= form_for @product, url: merchant_products_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.label :photo_url %>
  <%= f.text_field :photo_url %>

  <%= f.label :stock %>
  <%= f.text_field :stock %>

  <% Category.all.each do |cat| %>
    <h4><%= cat.name %></h4>
    <%= check_box_tag "product[category_ids][]", cat.id, @product.category_ids.include?(cat.id) %>
  <% end %>

  <%= f.submit 'create product' %>
<% end %>
