<!--Add way for Photo to be Displayed if time, i.e. in dashboard-->

<%= form_for Orderitem.new do |f| %>

  <%= hidden_field_tag "product_id", @product.id %>

  <%= f.label :quantity %>
  <%= f.text_field :quantity %>


  <%= f.submit "Add to Cart", class: "btn btn-primary" %>
<% end %>


<h2><%= @product.name.capitalize %> Product Info</h2>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price ($)</th>
    <th>Photo URL</th>
    <th>Qty In Stock</th>
    <th>Merchant Name</th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td> <%= @product.name %> </td>
      <td> <%= @product.description %> </td>
      <td> <%= @product.price %> </td>
      <td> <%= @product.photo_url %> </td>
      <td> <%= @product.stock %> </td>
      <td> <%= @product.merchant.username %> </td>
    </tr>
  </tbody>
</table>





<%= link_to content_tag(:h3, "leave a review"), new_product_review_path(@product.id), method: :get %>

<h3>reviews</h3>
<% @product.reviews.each do |review| %>
  <div class="container">
    <h4><%= "♣"*review.rating + "♧"*(5-review.rating) %></h4>
    <p><%=review.review %></p>
  </div>
<% end %>
