<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav>
      <ul>
        <%= link_to content_tag(:li, "our merchants"), merchants_path, method: "get" %>
        <% if session[:user_id] %>
          <%= link_to content_tag(:li, "dashboard"), dashboard_path, method: "get" %>
        <% end %>
      </ul>
    </nav>
    <% if session[:user_id] %>
      <%= link_to "log out", logout_path, method: "delete" %>
    <% else %>
      <!-- FOR OAUTH < % = # link_to "Login with Github", github_login_path % > -->
      <%= link_to "login", login_path %>
    <% end %>
  </header>
  <body>

    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="alert-<%=name%>"><%= message %></div>
      <% end %>
    </section>
    <%= yield %>
  </body>
</html>
