<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav>
      <ul>
        <%= link_to content_tag(:li, "browse all products"), products_path, method: "get" %>
        <%= link_to content_tag(:li, "browse by category"), categories_path, method: "get" %>
        <%= link_to content_tag(:li, "browse by merchants"), merchants_path, method: "get" %>
        <% if session[:user_id] %>
          <%= link_to content_tag(:li, "dashboard"), dashboard_path, method: "get" %>
        <% end %>
      </ul>
    </nav>
      <%= link_to "Cart", cart_path %>

    <% if session[:user_id] %>
      <%= link_to "log out", logout_path, method: "delete" %>
    <% else %>
      <%= link_to "Login with Github", github_login_path %>
      <!-- < % = # link_to "login", login_path % > -->
    <% end %>
  </header>
  <body>

    <section class="flash">
      <% flash.each do |name, message| %>
        <% if message.is_a?(Hash) %>
          <div class="alert-<%=name%>">
            <ul>
              <%message.each do |field, error| %>
                <li><%=field %>: <%= error.join(", ") %></li>
              <% end %>
            </ul>
          </div>
        <%else %>
        <div class="alert-<%=name%>"><%= message %></div>
        <%end %>
      <% end %>
    </section>
    <%= yield %>
  </body>
</html>
